{#- --
kind: fragment
label: "Top menu"
description: "Top menu for a page"
purpose: menu
version: 1
properties:
    items:
      type: list
      items:
          type: object
          properties:
              name: string
              label: string
              target: string
parameters:
    active: string # Name of item to get active

-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\Fragment fragment
#}
{% extends 'frontend/fragment.html.twig' %}

{% set active = parameters.active | default(null) %}
{% set enableAdox = parameters.enableAdox | default(false) %}

{% block contents %}
    {#    bg-dark  data-bs-theme="dark" DARK THEME #}
    <nav class="navbar navbar-expand-md sticky-top border-bottom">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {%- if enableAdox %}
                <a class="btn btn-secondary d-md-none" href="{{ app.request.pathinfo }}?editor=1">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            {% endif %}
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
                <div class="offcanvas-header"><h5 class="offcanvas-title" id="offcanvasLabel">{{ 'app.label' | trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ 'action.close' | trans }}"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav flex-grow-1 justify-content-between">
                        {%- for item in fragment.properties.items -%}
                            <li class="nav-item"><a class="nav-link{% if item.name == active %} active{% endif %}" href="{{ item.target }}">{{ item.label }}</a></li>
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
