{#
@var string bodyController
@var string bsTheme
#}

{% set currentLanguage = language.languageByLocale(app.locale) %}
<!doctype html>
<html lang="{{ currentLanguage.primaryCode }}" {% if bsTheme|default %}data-bs-theme="{{ bsTheme }}"{% endif %}>
{#<html lang="en">#}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>{% block title %}{{ 'page.home.title' | trans({app: 'app.label' | trans}) }}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="app-version" content="{{ context.app.version }}">

    {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {%- endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
{% block document_body -%}
	<body class="{{ bodyClass | default }}"{%- if bodyController is defined %} data-controller="{{ bodyController }}"{% endif %}>
	{% block body %}{% endblock %}
	</body>
{%- endblock %}
</html>
