{#- --
kind: fragment
label: "Article list template Page"
description: "Page with article list"
purpose: page
routing: item_list
item: article
version: 1
children:
    rightColumn: widget
-- -#}
{#
@var \App\Sowapps\SoIngenious\Template template
@var \App\Entity\PublicationFragment fragment
@var string title
@var \App\Entity\PublicationFragment[] items
#}
{% extends 'frontend/fragment-page.html.twig' %}

{%- block contents -%}
    <div class="container py-3">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col col-lg-8">
                <div class="row">
                    {% for item in items %}
                        <div class="col col-lg-6">
                            <article class="bg-secondary-emphasis p-2">
                                {%- if item.files.image is defined -%}
                                    <div class="mb-2">
                                        <img src="{{ item.files.image | fileUrl }}" class="img-fluid" alt="">
                                    </div>
                                {%- endif -%}
                                <a href="{{ route('route_article_single', item) }}">
                                    <h5>{{- item.title -}}</h5>
                                </a>
                                <blockquote class="blockquote small">
                                    <p>{{- item.excerpt | default('') -}}</p>
                                    <footer class="blockquote-footer text-dark">
                                        {# TODO Translate text #}
                                        <span class="date">Le {{ item.createDate | date("d/m/Y H:i") }}</span>
                                        <span class="author">Par {{ item.createUser.name }}</span>
                                    </footer>
                                </blockquote>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col col-lg-4">
                {{- fragment.children.rightColumn | fragment | raw -}}
            </div>
        </div>
    </div>
{%- endblock -%}
